body{
    color : rgb(46, 46, 46);
    text-align: center;
    font-family: arial;
    font-size: 16px;
   margin : 0 ; 
   padding : 0 ; 
}

#container{
display: inline-block;
width: 70%;
padding:1em;
text-align: left;
border: 1px solid black;
margin : 0 auto;

}

#container h1  { 
    font-size: 20px;
}   


.cabecera{
    width: 100%;
    align-items: center;
    background-color: darkslateblue;
    color: white;
    border-radius: 1em;
    text-align: center;
    padding: .003em;
    box-shadow: 6px 6px 16px -1px rgba(0,0,0,0.75);
}